# welcome to the world of python

## python is very popular language

# -----
## -----
### ------

## to insert an image
![]()
![title]()

## use *text* for getting italic
## use **text** for getting bold type
## use ***text*** for combination of two

<font color="red">Gitam</font>

<a href="http://www.google.com">clickme</a>

<h1>Gitam college locations</h1>
<ul>
<li>hyderabad</li>
<li>vizag</li>
<li>banglore</li>
</ul>

<h1>Gitam college locations</h1>
<ol>
<li>hyderabad</li>
<li>vizag</li>
<li>banglore</li>
</ol>

In [3]:
print("hello world")

hello world

In [4]:
print("hello")
print("everyone")

hello
everyone

In [5]:
print("hello",end=" ")
print("everyone")

hello everyone

In [6]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [7]:
a=10
b=34.5
c="gitam"
d='hyd'
print(a)
print(b)
print(c)
print(d)

10
34.5
gitam
hyd

In [1]:
a=10
b=34.5
c="gitam"
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 34.5 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

In [2]:
a=10
print(id(a))
a=100
print(id(a))

1677183280
1677184720

In [3]:
a

100

In [4]:
a='t'
print(a)

t

In [5]:
a='t'
print(id(a))

3963104

In [6]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate())
c=complex(3,4)
print(c)

(2+5j)
2.0
5.0
(2-5j)
(3+4j)

In [7]:
c=2+5j
d=5+7j
print(c+d)
print(c-d)
print(c*d)

(7+12j)
(-3-2j)
(-25+39j)

In [8]:
str="Gitam"
str1='Gitam'
print(str)
print(str1)
print(type(str),type(str1))
print(len(str))

Gitam
Gitam
<class 'str'> <class 'str'>
5

In [9]:
a=input("Enter the number")
print(type(a))
b=int(a)
print(type(b))
print("The number is",b)

Enter the number40
<class 'str'>
<class 'int'>
The number is 40

In [11]:
b="1947"
print(type(b))
print(len(b))
c=int(b)
print(type(c))
#print(len(c))

<class 'str'>
4
<class 'int'>

In [12]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
print("the sum is",c)

enter the first number40
enter the second number99
the sum is 139

In [13]:
a=12
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

18
6
72
2.0
2
0
2985984

In [14]:
x=10
y=14
print(x<34)
print(x==y)
print(x!=y)
print(int(x>y))
print(int(x<y))

True
False
True
0
1

In [16]:
x=20
print(x>=20 and x<=30)
print(x>=30 and a<=20)
print(not(x))

True
False
False

In [20]:
str1="gitam"
print('i'in str1)
print('i' not in str1)

True
False

In [21]:
a=85
b=89
print(a is b)
print(a is not b)

False
True

In [22]:
a=100
print("the value of a is",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3])
print(list(range(1,10,2)))

the value of a is 100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
it
[1, 3, 5, 7, 9]

In [27]:
a=-10
if(a>0):
    print("it is +ve no")
if(a<0):
    print("it is -ve no")
if(a==0):
    print("it is zero")

it is -ve no

In [28]:
n=int(input("enter the number"))
if(n%2==0):
    print(n,"is even number")
else:
    print(n,"is odd number")

enter the number5
5 is odd number

In [32]:
yr=int(input("enter the year"))
if((yr%100!=0 and yr%4==0) or yr%400==0):
    print(yr,"is leap year")
else:
    print(yr,"is not leap year")

enter the year3030
3030 is not leap year

In [33]:
a,b,c=10,20,300
if(a>b and a>c):
    print(a,"is big")
elif(b>c):
    print(b,"is big")
else:
    print(c,"is big")

300 is big

In [35]:
a=10
b=20
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 10 20
after swapping 20 10

In [ ]:
a=100
b=25
ch=int(input("enter the choice"))
if(ch==1):
    print("the addition is",a+b)
elif(ch==2):
    print("the subtraction is",a-b)
elif(ch==3):
    print("the multiplication is",a*b)
elif(ch==4):
    print("the divison is",a/b)
else:
    print(" choose the choices from[1-4] only")