In [1]:
a=[12,56,89,100,6,"gitam"]
print(a)
print(type(a))

[12, 56, 89, 100, 6, 'gitam']
<class 'list'>

In [3]:
b=[34,78,19,100,56,34]
for ele in b:
    print(ele,end=" ")
print()
for i in range(len(b)):
    print(b[i],end=" ")
print()
i=0
while(i<len(b)):
    print(b[i],end=" ")
    i=i+1

34 78 19 100 56 34
34 78 19 100 56 34
34 78 19 100 56 34

In [4]:
print(b[5])

34

In [5]:
print(b[-1])

34

In [6]:
b

[34, 78, 19, 100, 56, 34]

In [7]:
b=[34,78,45,64,200]
print(b)
b.append(700)
b

[34, 78, 45, 64, 200]

[34, 78, 45, 64, 200, 700]

In [8]:
b

[34, 78, 45, 64, 200, 700]

In [9]:
b.pop(2)
b

[34, 78, 64, 200, 700]

In [10]:
b.remove(200)
b

[34, 78, 64, 700]

In [11]:
b.reverse()
b

[700, 64, 78, 34]

In [12]:
b.sort()
b

[34, 64, 78, 700]

In [13]:
b

[34, 64, 78, 700]

In [14]:
b.clear()
b

[]

In [16]:
c=[]
n=int(input("enter the size"))
for i in range(n):
    c.append(int(input("enter the element")))
for ele in c:
    print(ele,end=" ")

enter the size5
enter the element12
enter the element13
enter the element114
enter the element15
enter the element16
12 13 114 15 16

In [17]:
print(c[-3])

114

In [18]:
print(c[1:5:2])

[13, 15]

In [19]:
print(c[::2])

[12, 114, 16]

In [1]:
# tuple example
a=(12,89,"gitam",100)
print(a)
print(type(a))
print(len(a))

(12, 89, 'gitam', 100)
<class 'tuple'>
4